.content {
  margin-left: 260px;
  padding: 30px;
}

h1 {
  color: #004aad;
  margin-bottom: 20px;
}

.add-btn {
  background: #00a86b;
  color: white;
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
}

th {
  background: #e6f4ff;
}

.edit-btn {
  background: #ffb300;
  border: none;
  padding: 8px 14px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

/* Popup */
.popup {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 25px;
  width: 350px;
  border-radius: 10px;
}

.popup-content input {
  width: 100%;
  margin-bottom: 12px;
  padding: 8px;
}

.save {
  background: #00a86b;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 6px;
}

.close {
  margin-top: 10px;
  width: 100%;
  background: #c00;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 6px;
}
